{{ define "main" }}
{{ if eq .Type "page" }}
<div class="spacer-sm"></div>
{{ end }}
<article>
  <h2>{{ .Title }}</h2>
  {{ if eq .Type "page" }}
  <div class="spacer-sm"></div>
  {{ end }}
  {{ if not .Date.IsZero }}
  <p class="meta">
    posted: {{ .Date.Format "2006-01-02" }}
    {{ if not (.Lastmod.Equal .Date) }} / updated: {{ .Lastmod.Format "2006-01-02" }}{{ end }}
  </p>
  {{ end }}
  {{ .Content }}
  <hr>
  <p>
    <a href="{{ "posts" | relURL }}">[ back to posts ]</a> |
    <a href="{{ "/" | relURL }}">[ home ]</a>
  </p>
</article>
{{ end }}
